body{
    background-color: black;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

    
}
/* CSS FOR MAINPAGE.JSX*/
.Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.PostContainer{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px white solid;
    left: 30%;
    max-width: 450px;
    word-wrap: break-word;
    
    
}
.UpperContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
}
#ProfilePicture{
    height: 35px;
    border-radius: 50%;
    border: 3px solid pink;  
    
}
#Post{
    height:450px;
    width: 450px;
    border-radius: 2px;

}
.ActionContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 10px;
    
}

#Save{
    margin-left: auto;

}
#AddComment{
    background-color: black;
    border: none;
    outline: none;
    color: white;
    
}
.CommentContainer{
    display: flex;
    flex-direction: row;
    position: relative;
    p{
        position: absolute;
        right: 10px;
        display: none;;
    p:hover{
        color: blue;
    }
        
    }
}

#AddComment:focus + p,
#AddComment:not(:placeholder-shown) + p {
    display:flex;
}


/* CSS FOR STORIES.JSX*/
.StoriesContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    gap: 10px;
    text-align: center;
    overflow: hidden;
    font-size: 0.7em;


}
.StoriesImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid orange; /
}


.ArrowContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    margin: 0 auto;
    position: relative;
    height: auto;
    margin-top: 10px;

}
.Arrows{
    position: absolute;
    border-radius: 50%;
}
#left{
    left: 3%;
    top:20%
}
#right{
    right: 3%;
    top:20%
}

.ForYouText{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 700px;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 0px;
    border-bottom: 1px solid hsl(0, 0%, 29%);
}
/*CSS FOR SIDEBAR*/
.SideBarContainer{
    display: flex;
    flex-direction: column;
    position:fixed;
    width: 200px;
    height: 100%;
    border-right: hsl(0, 0%, 29%) 1px solid;
    font-size: 0.7em;
    padding-left: 5px;
    padding-right: 15px;
    top: 0;
    padding-top: 15px;
    
    h2{
        padding: 12px;
        padding-left: 7px;
        margin: 5px;
        border-radius: 10px;
        transition: ease 0.3s;
        cursor: pointer;
    }
    h2:hover{
        background-color: hsl(0, 0%, 9%);

    }

}