.OptionsContainer{
    background-color: rgb(48, 48, 48);
    width: 400px;
    height: 450px;
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    z-index: 99999;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.7em; 
    border-radius: 10px;
    h2{
        text-align: center;
        width: 100%;
        height: 100%;
        margin: 0;
        padding : 13px 0px;
        border-bottom: 1px rgb(99, 99, 99) solid;
        font-family: 'Inter', 'Roboto', sans-serif;
        font-weight: lighter;
        cursor: pointer;

    
    }
       


}
