.StoriesContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    gap: 10px;
    text-align: center;
    overflow: hidden;
    font-size: 0.7em;


}
.ArrowContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    margin: 0 auto;
    position: relative;
    height: auto;
    margin-top: 10px;

}
.Arrows{
    position: absolute;
    border-radius: 50%;
}
#left{
    left: 8%;
    top:20%
}
#right{
    right: 8%;
    top:20%
}